@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Space+Grotesk:wght@300..700&display=swap");

* {
    margin: 0;
    padding: 0;
}
.section-header {
    display: flex;
    justify-content: center;
}

.titulo{
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    height: 150px;
    shape-margin: 2%;
    border-radius: 50%;
}
p {
    font-family: "Freeman", sans-serif;
    font-size: 20px;
    display: flexbox;
    padding: 20px;
    margin: 20px;
    align-content: center;
    justify-content: center;
}

#bold{
    font-weight: bold;
    font-size: large;
}

body {
    background-color: #B5E48C;
}
h1 {
    font-family: "Freeman", sans-serif;
    font-weight: 500px;
    font-style: normal;
    font-size: 40px;
}
a:hover {
    color: #d9ed92;
    font-weight: bold;
  }
  a:active {
      color: #34A0A4;
  }


.grotesk {
    font-family: "Space Grotesk", sans-serif; 
    text-decoration: none;
    background-color: #184E77;
    color: #fff;
}

nav {
    background-color: #184E77;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around; 
}

li {
    margin: 5;
    padding: 10px;
}


h2 {
    font-family: "Freeman", sans-serif;
    font-size: 20px;
    display: flexbox;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    text-align: center;
}
h3 { 
    font-family: "Freeman", sans-serif;
    font-weight: 500px;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}
.redes {
    margin: 0;
    top: 25px;
    left: 25px;
    padding-top: 15px;
    display: flex;
    
}

footer {
    font-family: "Freeman", sans-serif; 
    color:#fff;
    font-size: 17px;
    letter-spacing: 1px;
    text-align: right;
    background-color: #34A0A4;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

form{
    font-family:"Freeman", sans-serif;
   margin: 0 auto;
  width: 600px;
  padding: 10px;
  border-radius: 1em;
  
}
input, textarea{
    display: flex;
    border-radius: 1px;
    border-color: #ccc;
    padding: 10px;
    width: 600px;
}
button{
    font-family: "Freeman", sans-serif; 
    color:#fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    background-color: #184E77;
    width: 600px;
}
 .logos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px;border: 0px solid green;
        width: 1000px;
    }
    
.infor {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 13px;
        margin: 0px;border: 0px solid green;
        width: 1000px;
        line-height:3px;
    }
    @media (min-width:320px) and (max-width:480px) {
        .miestilo {
            text-align: left;
            font-size: 25px; }
        ul {
            flex-wrap: wrap;
        }
    }
    @media (min-width:481px) and (max-width:1023px) {
        .miestilo {
            text-align: left;
            font-size: 20px;
            
    
        }
    }
    @media (min-width:1024px) and (max-width:1200px) {
        .miestilo {
            text-align: left;
            font-size: 15px;
                
        
        }
    }