@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Space+Grotesk:wght@300..700&display=swap");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border:none ;
}

header{

    font-weight: bold;
    font-size: large;
}


body{
    font-family:"Space Grotesk", sans-serif;
    background-image: url(/IMAGES/economia-circular.jpeg) ;
    background-size: cover;
    background-position: center;
    min-height: auto;
    opacity: auto;
}
html{
    height: 100%;
}

.bold{
font-weight: bold;
font-size: large;
}

.section-header {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#logo {
    width: 150px;
    shape-margin: 2%;
    border-radius: 50%;
}

.title{
    display: flex;
    align-items: center;
}

nav {
    background-color: #184e77;
}

h1 {
    font-weight: 500px;
    font-size: 40px;
    font-family: "Freeman", sans-serif;
    text-decoration: none;
    /*color: #D9ED92;*/
    /*color: #184E77;*/
    color: #0b2c45;
    margin-top: 3rem;
}


.grotesk {
    font-family: "Space Grotesk", sans-serif; 
    text-decoration: none;
    background-color: #184E77;
    color: #fff;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around; 
    padding: 0;
}

li {
    margin: 5;
    padding: 10px;

} 

a:hover {
    color: #d9ed92;
    font-weight: bold;
}
a:active {
    color: #34A0A4;
}


.background-top-row{
    background-color: #d9ed92;
    backdrop-filter: blur(.4rem);
}

.conteiner{
    display: inline-block;
    /*justify-content: center; */
    height: 100vh;
    /*align-items: center;*/
    margin-inline: 2rem;
    margin-top: 2rem;
}

.card{
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem (rgb o, o, o.2);
    display: flex;
    flex-direction: column;
    margin: 1.1rem;
    overflow: hidden;
    width: 17rem;
    height: 20rem;
    backdrop-filter: blur(1rem);
   /* background-color: white;*/
    border: .1rem solid white ;
    
}

.card h2{
    letter-spacing: .1rem;
    margin: 1rem 0;
}

.top-row{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.content{
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
}


.content p{
    font-size: .9rem;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px (rgba0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;

}

.video{
    grid-area: video;
    background-color: rgb(233, 230, 224);
}

.slogan{
    grid-area: slogan;
    background-color: rgb(233, 233, 211);
}

.grafico{
    grid-area: grafico;
    background-color: rgb(211, 239, 211);
}

.grid-container{
    display: grid;
    gap: 10px;
    background-color: #d9ed92;
    grid-template-areas: 
    "video"
    "slogan"
    "grafico";
}


footer {
    font-family: "Freeman", sans-serif; 
    color:#fff;
    font-size: 17px;
    letter-spacing: 1px;
    text-align: right;
    background-color: #34A0A4;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}
.logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;border: 0px solid green;
    width: 1000px;
}

.infor {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin: 0px;border: 0px solid green;
    width: 1000px;
    line-height:3px;
}

@media screen and (min-width:320px)and(max-width:768px) {
    .grid-container{
        display: grid;
        gap: 10px;
        grid-template: 
        "grafico" 200px
        "video" auto
        "slogan 200px";
        font-size: 25px; }
    ul {
        flex-wrap: wrap;
    }
}
@media screen and (min-width:769px) and (max-width:998px) {
    .grid-container {
        
        grid-template-areas: 
        "video    grafico"250pz
        "slogan   slogan";auto
        font-size: 20px
        / 400px auto ;
    
    }
}
@media screen and (min-width:999px) and (max-width:1200px) {
    .grid-container {
        grid-template-areas: 
        "video"     auto
        ".grafico"  250px
        "slogan   slogan"auto;
        text-align: left
        /auto 200px 200px;
        font-size: 15px;
    
    }
}
