@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Space+Grotesk:wght@300..700&display=swap");

* {
    margin: 0;
    padding: 0;
}
.section-header {
    display: flex;
    justify-content: center;
}

.titulo{
    display: flex;
    align-items: center;
}
.card-img {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    margin-top: 20px;
}
.logo {
    width: 150px;
    height: 150px;
    shape-margin: 2%;
    border-radius: 50%;
}
.grotesk {
    font-family: "Space Grotesk", sans-serif; 
    text-decoration: none;
    background-color: #184E77;
    color: #fff;
}
nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 
    background-color: #184e77;
}

nav ul li {
    margin: 0.5rem 0;
}
ul {
    list-style-type: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
.grotesk {
    font-family: "Space Grotesk", sans-serif; 
    text-decoration: none;
    background-color: #184E77;
    color: #fff;
}


a:hover {
  color: #d9ed92;
  font-weight: bold;
}

a:active {
    color: #34A0A4;
}

.col-md-8 {
    background-color: #99d98c;
}
.col-md-4 {
    background-color: #99d98c; 
}
 
.card-text {
    font-family: "Space Grotesk", sans-serif;
    size: 20px;
    background-color: #99d98c;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

}
.wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
} 


.wrap-texto{
    color: #fff;
    text-align: center;
    width: 50%;
    font-family: "Freeman" sans-serif;
    font-weight: bold;
}

.wrap-parrafo{
    font-family: "Freeman", sans-serif;
    font-weight: 200;
    width: 50vw;
    font-size: large;
}


.bold{
  font-weight: bold;
  font-size: large;

}
body {
    background-color: #D9ED92;
}


h1 {
    font-family: "Freeman", sans-serif;
    font-weight: 500px;
    font-style: normal;
    font-size: 40px;
}
h2 {
    font-family: "Freeman", sans-serif;
    font-size: 35px;
    background-color: #99d98c;
    color: solid black;
    display: flexbox;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    text-align: center;
}
h3 { 
    font-family: "Freeman", sans-serif;
    font-weight: 500px;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}

footer {
    background-color: #34A0A4;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer .logos,
footer .infor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .logos li,
footer .infor li {
    margin: 0.5rem 0;
}


